<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pswishlist</name>
	<displayName><![CDATA[Product Wish List]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Collections of desired products saved by customers to their user account]]></description>
	<author><![CDATA[thuydtshop@gmail.com]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
